/**
 * Copyright (c) Enalean, 2016. All Rights Reserved.
 *
 * This file is a part of Tuleap.
 *
 * Tuleap is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Tuleap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
 */

.demo {
    display: flex;
    justify-content: space-between;

    .example {
        width: 50%;
        margin: 0 10px 0 0;

        .tlp-centered {
            max-width: 400px;
        }

        &:not(.example-hide-margins) {
            .tlp-framed-vertically,
            .tlp-framed-horizontally {
                position: relative;
            }

            .tlp-framed-vertically::before,
            .tlp-framed-vertically::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 20px;
            }

            .tlp-framed-vertically::before {
                top: 0;
            }

            .tlp-framed-vertically::after {
                bottom: 0;
            }

            .tlp-framed-horizontally::before,
            .tlp-framed-horizontally::after {
                content: '';
                position: absolute;
                top: 0;
                width: 20px;
                height: 100%;
            }

            .tlp-framed-horizontally::before {
                left: 0;
            }

            .tlp-framed-horizontally::after {
                right: 0;
            }
        }
    }

    #example-modals-structure {
        .tlp-modal {
            display: flex;
            position: relative;
            z-index: 1;
            width: auto;
            margin: 0;
            transform: unset;
            opacity: 1;

            > .tlp-modal-body {
                border: 1px solid transparent;
                border-top: 0;
                border-bottom: 0;
            }

            > .tlp-modal-feedback {
                border: 1px solid transparent;
                border-top: 0;
            }

            > .tlp-modal-footer {
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-left: 1px solid transparent;
            }
        }
    }

    [id^=example-layout-] {
        > div {
            min-height: 300px;

            > main {
                height: 300px;
            }

            > main:not(.tlp-centered) {
                margin: 0;
            }
        }
    }

    .code {
        display: flex;
        width: 50%;
        margin: 0 0 0 10px;

        // scss-lint:disable SelectorFormat
        .CodeMirror {
            flex: 1;
            background-image: none;
            line-height: 18px;
        }

        // scss-lint:disable SelectorFormat
        .CodeMirror-overlayscroll-horizontal > div,
        .CodeMirror-overlayscroll-vertical > div {
            background: $editor-scrollbar-color;
        }
    }

    .doc-table-color {
        %size {
            font-size: 13px;
        }

        .code-inline {
            @extend %size;
        }

        .doc-color {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0 10px 0 0;
            border-radius: 50%;
            vertical-align: middle;

            &.doc-color-orange           { background-color: $tlp-theme-orange; }
            &.doc-color-blue             { background-color: $tlp-theme-blue;   }
            &.doc-color-green            { background-color: $tlp-theme-green;  }
            &.doc-color-grey             { background-color: $tlp-theme-grey;   }
            &.doc-color-purple           { background-color: $tlp-theme-purple; }
            &.doc-color-red              { background-color: $tlp-theme-red;    }
        }

        tbody > tr > td:first-child,
        tbody > tr > td:nth-child(2) {
            white-space: nowrap;
        }

        @each $color-name, $colors in $tlp-swatch-color-map {
            .doc-color-#{$color-name} {
                border: 3px solid map-get($colors, 'primary');
                background-color: map-get($colors, 'secondary');
            }

            .doc-color-code-#{$color-name}-primary {
                @extend %size;
                background-color: map-get($colors, 'primary');
                color: $tlp-ui-white;
            }

            .doc-color-code-#{$color-name}-secondary {
                @extend %size;
                background-color: map-get($colors, 'secondary');
                color: map-get($colors, 'text');
            }

            .doc-color-code-#{$color-name}-border {
                @extend %size;
                border: 2px solid map-get($colors, 'border');
                color: map-get($colors, 'border');
            }

            .doc-color-code-#{$color-name}-text {
                @extend %size;
                background-color: map-get($colors, 'secondary');
                color: map-get($colors, 'text');
            }

            .doc-color-#{$color-name}-pattern {
                width: 30px;
                height: 30px;
                background-color: map-get($colors, 'text');
                // scss-lint:disable VendorPrefix
                -webkit-mask-image: url(map-get($colors, 'pattern'));
                mask-image: url(map-get($colors, 'pattern'));

                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    background-color: transparent;
                    background-image: url(map-get($colors, 'pattern'));
                }
            }
        }
    }

    + .demo {
        margin: 80px 0 0;
    }
}

.doc-tlp-icon {
    font-size: 24px;
}

.doc-example-badges {
    line-height: 30px;
}

.doc-illustrations-demo {
    width: 100%;
}

@media (max-width: 1200px) {
    .demo {
        flex-direction: column-reverse;
        justify-content: flex-start;

        .example {
            width: 100%;
            margin: 10px 0 0;
        }

        .code {
            width: 100%;
            margin: 0 0 10px;
        }
    }
}

#dropdown-icon-right-example {
    transition: color .25s;
    color: transparentize($tlp-ui-dimmed, .2);
    cursor: pointer;
}

.popover-examples-container {
    display: grid;
    grid-template-columns: repeat(5, 14px);
    grid-template-rows: repeat(5, 14px);
    column-gap: 30px;
    row-gap: 30px;
    margin: 0 0 0 400px;

    > i {
        text-align: center;
        &:not(:hover) {
            color: transparentize($tlp-ui-dimmed, .2);
        }
    }

    &::before {
        content: '';
        width: 174px;
        height: 174px;
        border: 2px solid transparentize($tlp-ui-dimmed, .2);
        grid-column: 1 / 5;
        grid-row: 1 / 5;
        margin: 7px 0 0 6px;
    }
}

#popover-placement-top-start {
    grid-column: 2;
    grid-row: 1;
}

#popover-placement-top {
    grid-column: 3;
    grid-row: 1;
}

#popover-placement-top-end {
    grid-column: 4;
    grid-row: 1;
}

#popover-placement-right-start {
    grid-column: 5;
    grid-row: 2;
}

#popover-placement-right {
    grid-column: 5;
    grid-row: 3;
}

#popover-placement-right-end {
    grid-column: 5;
    grid-row: 4;
}

#popover-placement-bottom-start {
    grid-column: 2;
    grid-row: 5;
}

#popover-placement-bottom {
    grid-column: 3;
    grid-row: 5;
}

#popover-placement-bottom-end {
    grid-column: 4;
    grid-row: 5;
}

#popover-placement-left-start {
    grid-column: 1;
    grid-row: 2;
}

#popover-placement-left {
    grid-column: 1;
    grid-row: 3;
}

#popover-placement-left-end {
    grid-column: 1;
    grid-row: 4;
}

.doc-icon-grid {
    display: flex;
    flex-wrap: wrap;
}

.doc-icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    margin: 0 20px 20px 0;

    &:last-child {
        margin: 0 20px 20px 0;
    }
}

.doc-icon-large {
    margin-left: 10px;
    font-size: 48px;
}

.doc-icon-unicode {
    font-family: Monaco, Courier, monospace;
    font-size: 12px;
}
