/*!
 * Copyright (c) Enalean, 2019 - present. All Rights Reserved.
 *
 * This file is a part of Tuleap.
 *
 * Tuleap is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Tuleap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
 */

$timeline-color: mix($tlp-theme-color, $tlp-ui-white, 10%);

.release-toggle {
    margin: 0 0 0 35px;
}

.project-release-infos-badges {
    display: flex;
    flex-wrap: wrap;
    margin: 0 $tlp-spacing $tlp-half-spacing 0;
}

.project-release-infos-badges .project-release-info-badge {
    position: relative;
    margin: 0 $tlp-half-spacing $tlp-half-spacing 0;
    cursor: default;
}

.project-release-infos-badges .toggle-sprints {
    position: relative;
    cursor: pointer;
}

.project-release-infos-badges .toggle-sprints::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 5px;
    left: -31px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $tlp-theme-color;
}

.project-release-infos-badges .toggle-sprints::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 11px;
    left: -$tlp-spacing;
    width: $tlp-spacing;
    height: 2px;
    background: $tlp-theme-color;
}

.release-description {
    padding: 0 0 $tlp-spacing 0;
}

.project-release-description .fa-long-arrow-right {
    margin: 0 5px 0 0;
    font-size: 12px;
}
