<div class="tracker-administration-semantic-timeframe">
    <p>{{# dgettext }} tuleap-tracker | The timeframe of an artifact will be defined by:{{/ dgettext }}</p>

    <form action="{{ target_url }}" method="POST">
        {{# csrf }}
            {{> csrf_token_input }}
        {{/ csrf }}
        <div class="control-group">
            <label class="control-label" for="start-date">
                {{# dgettext }} tuleap-tracker | Start date{{/ dgettext}}
                <span class="highlight">*</span>
            </label>

            <div class="controls">
                <select id="start-date" name="start-date-field-id" required>
                    <option value="">{{# dgettext }} tuleap-tracker | Choose a field... {{/ dgettext }}</option>
                    {{# usable_date_fields }}
                        <option value="{{ id }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
                    {{/usable_date_fields}}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="duration">
                {{# dgettext }} tuleap-tracker | Duration{{/ dgettext}}
                <span class="highlight">*</span>
            </label>

            <div class="controls">
                <select id="duration" name="duration-field-id" required>
                    <option value="">{{# dgettext }} tuleap-tracker | Choose a field... {{/ dgettext }}</option>
                    {{# usable_numeric_fields }}
                        <option value="{{ id }}" {{# is_selected }}selected{{/ is_selected }}>{{ label }}</option>
                    {{/ usable_numeric_fields}}
                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" name="update-semantic-timeframe">
            {{# dgettext }} tuleap-tracker | Save your modifications {{/ dgettext }}
        </button>
        {{# is_semantic_configured }}
            {{# dgettext }} tuleap-tracker | or{{/ dgettext }}
            <button
                class="btn btn-danger"
                type="submit"
                name="reset-semantic-timeframe"
                {{# has_tracker_charts }}
                    title="{{# dgettext }} tuleap-tracker | You cannot reset this semantic because this tracker has a burnup, burndown or another chart rendered by an external plugin{{/ dgettext }}"
                    disabled
                {{/ has_tracker_charts }}
            >
                {{# dgettext }} tuleap-tracker | Reset this semantic {{/ dgettext }}
            </button>
        {{/ is_semantic_configured }}
    </form>
    <div>
        <a href="{{ tracker_semantic_admin_url }}">
            {{# dgettext }} tuleap-tracker | « Go back to semantic overview {{/ dgettext }}
        </a>
    </div>
</div>
