<div class="sidebar-nav">
    <div class="project-title-container" data-content="{{{ project_privacy }}}" data-placement="right">
        <a href="{{ projectLink }}" id="sidebar-dashboard" class="project-title">
            {{# are_restricted_users_allowed }}
                {{# project_is_public }}
                    <i class="fa fa-unlock"></i>
                {{/ project_is_public }}
                {{# project_is_public_incl_restricted }}
                    <i class="fa fa-tlp-unlock-plus-r"></i>
                {{/ project_is_public_incl_restricted }}
                {{# project_is_private }}
                    <i class="fa fa-lock"></i>
                {{/ project_is_private }}
                {{# project_is_private_incl_restricted }}
                    <i class="fa fa-tlp-lock-plus-r"></i>
                {{/ project_is_private_incl_restricted }}
            {{/ are_restricted_users_allowed }}
            {{^ are_restricted_users_allowed }}
                {{# project_is_public }}
                    <i class="fa fa-unlock"></i>
                {{/ project_is_public }}
                {{^ project_is_public }}
                    <i class="fa fa-lock"></i>
                {{/ project_is_public }}
            {{/ are_restricted_users_allowed }}

            {{ projectName }}
        </a>
    </div>
    <ul class="nav nav-list">
        {{#sidebar}}
            <li {{#enabled}}class="active"{{/enabled}}>
                <a id="{{ id }}" href="{{{ link }}}" aria-label="{{{ name }}}" title="{{{ name }}}"><i class="{{ icon }} project-sidebar-nav-item-icon"></i> {{{ label }}}</a>
            </li>
        {{/sidebar}}
    </ul>
    {{# is_sidebar_collapsable }}
        <i id="sidebar-collapser" class="fa fa-chevron-left sidebar-collapse"></i>
    {{/ is_sidebar_collapsable }}
    <div class="sidebar-about">
        <svg class="admin-sidebar-tuleap" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M10.756075,19.9136722 C10.756075,19.9136722 8.52591145,17.4990604 8.52591145,15.2178715 C8.52591145,12.9366825 9.45913899,11.8157719 10.959139,10.3157719 C10.9824967,10.2924141 9.152785,11.8830192 11.0297779,10.2454221 C12.9067708,8.60782508 14.3849202,7.30325965 16.1181356,5.13992957 C17.8513509,2.9765995 17.5166951,1.27957801 17.5166951,1.27957801 C17.5166951,1.27957801 21.7257432,7.34478796 18.0332967,13.9405888 C15.1606771,19.0719364 10.756075,19.9136722 10.756075,19.9136722 Z M9.22378743,19.6304691 C9.22378743,19.6304691 4.69816223,18.7752305 2.80087013,14.3075815 C0.903578038,9.83993253 2.97277316,6.77288655 2.97277316,6.77288655 C2.97277316,6.77288655 2.93710515,6.99826698 4.11813554,8.64890174 C5.29916594,10.2995365 8.42807219,11.8672855 8.42807219,11.8672855 C8.42807219,11.8672855 7.28036693,13.5179203 7.56271574,15.7062748 C7.84506455,17.8946293 9.22378743,19.6304691 9.22378743,19.6304691 Z M8.98086751,11.0595463 L7.13522542,9.87894325 C7.13522542,9.87894325 7.51192257,8.83402137 8.98086751,6.31180457 C10.4498125,3.78958778 12.8085653,2.21689491 12.8085653,2.21689491 C12.8085653,2.21689491 13.5719773,3.19484715 14.0341355,4.25710301 C14.4962937,5.31935887 14.424349,5.63376502 14.424349,5.63376502 C14.424349,5.63376502 13.5355984,6.50120954 11.8947469,8.11569862 C10.2538954,9.7301877 8.98086751,11.0595463 8.98086751,11.0595463 Z M6.34352883,8.93141686 C6.34352883,8.93141686 5.31427667,8.3110112 4.61110829,7.23978303 C3.90793991,6.16855485 3.82811549,5.51596757 3.82811549,5.51596757 C3.82811549,5.51596757 4.24788454,4.23990516 5.1440027,4.23990516 C6.04012087,4.23990516 7.69356325,6.19754676 7.69356325,6.19754676 C7.69356325,6.19754676 7.4759405,6.64929359 6.97957399,7.59305457 C6.48320749,8.53681555 6.34352883,8.93141686 6.34352883,8.93141686 Z M15.333501,4.27234221 L14.5916505,2.65381674 C14.5916505,2.65381674 14.5720773,2.3712223 15.1690999,1.2710257 C15.7661225,0.170829098 16.2605306,0.00125769858 16.2605306,0.00125769858 C16.2605306,0.00125769858 16.60214,-0.0808330782 16.60214,1.08141208 C16.60214,2.24365723 15.333501,4.27234221 15.333501,4.27234221 Z" id="tuleap"></path>
        </svg>
        <p>{{{ powered_by }}}</p>
        <p>{{{ copyright }}}</p>
    </div>
</div>
