/**
 * Copyright (c) Enalean, 2018-present. All Rights Reserved.
 *
 * This file is a part of Tuleap.
 *
 * Tuleap is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Tuleap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
 */
@import 'headers';
@import 'icons';
@import 'folder-content';
@import 'new-document';
@import 'upload';
@import 'notifications';
@import 'switch-to-docman';
@import 'quicklook';
@import 'update-document';
@import 'confirm-deletion-modal';
@import 'embedded-document';
@import 'metadata';
@import 'folder-properties-modal';
@import 'modal-common';
@import 'clipboard';
@import '../../../../../src/www/themes/BurningParrot/css/includes/global-variables';

.document-app {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$navbar-height});

    > .breadcrumb {
        flex: 0 0 auto;
    }
}
