/**
 * Copyright (c) Enalean, 2019 - present. All Rights Reserved.
 *
 * This file is a part of Tuleap.
 *
 * Tuleap is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Tuleap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Tuleap. If not, see http://www.gnu.org/licenses/.
 *
 */

.document-metadata {
    padding: $tlp-spacing;
}

.document-metadata-properties-margin {
    margin: 0 0 $tlp-spacing;
}

.document-metadata-title-and-status-properties-container {
    display: flex;
    margin: 0 0 $tlp-spacing;
}

.document-metadata-title {
    flex-grow: 1;
    margin: 0 $tlp-spacing 0 0;
}

.document-obsolescence-date-metadata-select {
    margin: 0 $tlp-spacing 0 0;
}

#document-item-owner {
    width: 260px;
}
