/*!
 * Copyright (c) Enalean, 2019 - present. All Rights Reserved.
 *
 * This file is a part of Tuleap.
 *
 * Tuleap is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Tuleap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Tuleap. If not, see <http://www.gnu.org/licenses/>.
 */

.document-modal-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.docman-item-title-update-property {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $tlp-spacing;
}

.docman-item-version-title-update {
    width: 100%;
    margin: 0 $tlp-spacing 0 0;
}

.tlp-form-element.docman-item-lock-update {
    margin: 0 $tlp-half-spacing 0 $tlp-half-spacing;

    > .tlp-label {
        margin: 0 0 13px;
        white-space: nowrap;
    }
}

.document-new-item-version-button-disabled {
    box-shadow: none;
    color: transparentize($tlp-theme-color, .5);
    cursor: not-allowed;

    &:hover {
        background: $tlp-ui-white;
    }
}
