@import '../../../scripts/node_modules/codemirror/lib/codemirror';
@import '../../../scripts/node_modules/codemirror/addon/hint/show-hint';
@import 'includes/cards';
@import 'includes/field-bound-colors';
@import "includes/columns-colors";
@import "includes/move-artifact";
@import "includes/artifact-link-field";

/* {{{ New trackers */
button[name=tracker_query_submit] {
    margin-top: 16px;
}

.browse_instructions {
    padding: 0 15px;
}

.trackers-pending-tracker-removal-action {
    margin: 0;
}

#tracker_report_config_options {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 150;

    h2 {
        display: inline-block;
    }
}

#tracker_report_options {
    position: relative;
    font-weight: normal;
}

div.tracker-cant-delete {
    opacity: 0.3;
}

#report_copy_name_input {
    position: relative;
    top: 4.5px;
}

#tracker_report_form {
    display: inline;
}

#tracker_report_form select {
    width: auto;
}

#tracker_report_save_or_revert {
    display: none;
    text-align: right;
    padding-top: 18px;
    font-size: 0.9em;
}

#tracker_report_save_or_revert li {
    text-align: left;
}

#tracker_report_save_or_revert #tracker_report_haschanged_explenations,
#tracker_report_save_or_revert #tracker_report_isobsolete_explenations,
#tracker_report_save_or_revert #tracker_report_haschanged_and_isobsolete_explenations {
    display: none;
}

#tracker_report_save_or_revert.tracker_report_haschanged,
#tracker_report_save_or_revert.tracker_report_isobsolete,
#tracker_report_save_or_revert.tracker_report_haschanged_and_isobsolete,
#tracker_report_save_or_revert.tracker_report_haschanged #tracker_report_haschanged_explenations,
#tracker_report_save_or_revert.tracker_report_isobsolete #tracker_report_isobsolete_explenations,
#tracker_report_save_or_revert.tracker_report_haschanged_and_isobsolete #tracker_report_haschanged_and_isobsolete_explenations {
    display: inline;
}

#tracker_report_save_or_revert_buttons {
    display: inline-block;
}

/* Hack to make "Add criteria" button appears on the same line than search */
#tracker_report_add_criteria_dropdown {
    top: -21px;
}

.tracker-artifact-nav {
    margin: 30px 0 20px;
}

#tracker-home-nav {
    padding: 5px 1em 3px;
    margin: 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #f5f7f7;
}

#tracker-home-nav {
    margin-top: 1em;
    background-color: white;
    border-left: none;
    border-right: none;
}

#tracker-home-nav li {
    list-style: none;
    margin: 0;
    display: inline;
}

#tracker-home-nav li a {
    padding: 4px 0.5em;
    padding-left: 24px;
    margin-right: 3px;
    border: 1px solid #999;
    border-bottom: none;
    background: #e0e0e0;
    text-decoration: none;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

#tracker-home-nav li a {
    padding-left: 0.5em;
}

.tracker_report_renderer {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;

    & > .tracker_report_renderer_table_information {
        clear: both;
        font-size: 0.8em;
        margin-top: 40px;
        color: #646464;

        & > p {
            margin-bottom: 5px;
        }

        & > .tracker_report_table_sortby_panel {
            float: right;

            & > .fa-angle-right {
                margin: auto 8px;
            }
        }

        & > p > strong,
        & > .tracker_report_table_sortby_panel > a {
            color: #333;
            font-size: 1.2em;
            font-weight: normal;
        }

    }
}

.tracker_report_renderer_table_sort_warning {
    clear: both;
    margin-top: 40px;

    + .tracker_report_renderer_table_information {
        margin: 0;
    }
}

.tracker-report-query {
    position: relative;
    padding: 10px 16px 16px;
    border-top: 2px solid #B2B2B2;
    background: #fafafa;

    > h3 {
        margin-top: 0;
        padding-top: 0;
        text-shadow: 1px 1px #ffffff;
    }
}

.tracker-report-query-button {
    position: relative;
    top: -21px;
    margin: 0 5px 0 0;
}

.tracker-report-query-form {
    position: relative;
    margin: 0;

    > h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    label {
        font-weight: bold;
    }
}

.tracker-report-expert-content {
    display: flex;
    margin: 10px 0 6px;
    padding: 0;
    clear: both;
}

.tracker-report-expert-content-query {
    flex: 1 1 auto;
    margin: 0 25px 0 0;

    > textarea {
        width: 100%;
        height: 100px;
    }

    > .CodeMirror {
        height: 100px;
        transition: border linear .2s, box-shadow linear .2s;
        border: 1px solid #cccccc;
        border-radius: 4px;

        &.CodeMirror-focused {
            border-color: rgba(82, 168, 236, .8);
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
        }

        pre {
            padding: 0 6px;

            &.CodeMirror-placeholder {
                color: #999999;
            }
        }
    }

    &.tracker-report-expert-content-query-readonly > .CodeMirror {
        background: #eeeeee;
        cursor: not-allowed;

        .CodeMirror-lines {
            cursor: not-allowed;
        }
    }
}

select.tracker-report-expert-allowed-fields {
    height: 100px;
    margin: 0;
}

.tracker-report-search {
    text-align: center;
}

.tracker-report-query-undisplayed {
    display: none;
}

#tracker_query {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
}

/*
 * zoom:1 and * hack => only for IE
 * need to force inline for inline-block that are not initially inline elements
 * $see http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
 */
#tracker_query > li {
    padding-right: 20px;
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#tracker_query tr {
    vertical-align: top
}

.tracker-report-query-form h4 {

}

.tracker_report_criteria_advanced_toggle {
    vertical-align: bottom;
    cursor: pointer;
}

#tracker-link-artifact-different-ways > tbody > tr {
    vertical-align: top;
}

.tracker-link-artifact-controls {
    text-align: left;
}

#tracker-link-artifact-manual-way {
    margin-bottom: 1em;
}

#tracker-link-artifact-slow-way {
    margin-left: 1em;
}

#tracker-link-artifact-slow-way,
#tracker-link-artifact-manual-way,
#tracker-link-artifact-recentitems-way {
    border: 1px solid gray;
}

#tracker-link-artifact-slow-way-content,
.tracker-link-artifact-manual-way-content,
.tracker-link-artifact-recentitems-way-content {
    padding: 0.5em 1em;
}

.tracker-link-artifact-recentitems-way-content ul {
    list-style-type: none;
    padding-left: 1em;
}

.tracker-link-artifact-manual-way-content label {
    font-weight: bold;
}

.tracker-link-artifact-slow-way-content-selectreport {
    margin-top: 0;
}


.tracker_aggregate_function_add_panel {
    position: relative;
}

#tracker-link-artifact-manual-way > .boxtitle,
#tracker-link-artifact-slow-way > .boxtitle,
#tracker-link-artifact-recentitems-way > .boxtitle {
    text-align: left;
}

#lightwindow .tracker_artifact_title {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.tracker_report_table_remove_column,
.tracker_query_remove {
    width: 16px;
    height: 16px;
    float: right;
    background-image: url('../images/ic/cross-disabled.png');
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tracker_report_table_remove_column:hover,
.tracker_query_remove:hover {
    background-image: url('../images/ic/cross.png');
}

.tracker_report_table_remove_column {
    margin-right: 1em;
}

#tracker_renderer_updater_handle,
#tracker_report_updater_handle {
    cursor: pointer;
}

#tracker_report_updater_handle {
    vertical-align: middle;
    margin-left: 1em;
    font-size: 0.8em;
}

#tracker_report_updater_handle img {
    vertical-align: middle;
}

#tracker_report_updater li {
    margin-left: 25px;
    height: 30px;
}

#tracker_report_updater li label:first-child {
    padding-left: 0;
}

#tracker_report_updater li input {
    margin-bottom: 0;
}

.tracker_decorator,
.tracker_nodecorator {
    width: 1em;
    height: 1em;
    border: 1px solid transparent;
}

.tracker_decorator {
    border: 1px solid gray;
}

.tracker_decorator_list,
.tracker_decorator_list_adv {
    border: 1px solid gray;
    background-color: white;
    background-image: url('../images/gradient-white.png');
    background-position: left top;
    background-repeat: repeat-x;
    cursor: default;
    overflow: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}

.tracker_decorator_list .tracker_decorator_list_pointer {
    float: right;
    vertical-align: middle;
    width: 16px;
    height: 18px;
    background-image: url('../images/pointer_down.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.tracker_decorator_list ul,
.tracker_decorator_list_adv ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tracker_decorator_list .tracker_decorator_option_preselected,
.tracker_decorator_list_adv .tracker_decorator_option_preselected {
    background: #008ed6;
    color: white;
}

.tracker_decorator_list .tracker_decorator_option_hover,
.tracker_decorator_list_adv .tracker_decorator_option_hover {
    background: #6bb2d6;
    color: white;
}

.tracker_admin_static_value_hidden {
    background: url('../images/tracker_admin_static_value_hidden.png') top left repeat;

    > .tracker-admin-bindvalue_grip,
    > .tracker-admin-bindvalue_actions,
    > .tracker-admin-bindvalue_label,
    > .tracker-admin-bindvalue_decorator > .dropdown > .dropdown-toggle {
        opacity: .35;
    }
}

.tracker_report_table_pager {
    text-align: center;

    & > .btn {
        width: 45px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.tracker_report_table_pager_range {
    padding-left: 28px;
    padding-right: 28px;
    color: #646464;
    font-size: 0.8em;

    & > strong {
        font-size: 1.25em;
        color: #333;
    }
}

.tracker_report_table_pager_chunk {
    padding-left: 16px;
}

.table.tracker_report_table {
    thead:first-child > tr:first-child > th,
    > thead > tr > th,
    > tbody > tr > td {
        border-top: 1px solid #fcfcfc;
        border-right: 1px solid #fcfcfc;
        border-left: 1px solid #fcfcfc;
    }

    > tbody > tr:last-child > td {
        border: 1px solid #fcfcfc !important;
    }

    > thead > tr > th {
        vertical-align: top;

        .drop-over {
            background: #fcfcfc;
        }
    }

    > thead > tr > th > table > tbody > tr > td {
        padding: 0;
        border: none;

        & > a {
            text-decoration: none;
            display: block;
        }

        &.tracker_report_table_column_grip {
            width: 14px;
            background-image: url(../images/drag.png);
            background-repeat: no-repeat;
            background-position: 0 5px;
            cursor: move;
        }

        &.tracker_report_table_column_caret {
            text-align: right;
            padding-left: 4px;
            padding-right: 4px;
        }

        &.tracker_report_table_column_nature_editor {
            > a {
                display: block;
                position: relative;
                padding: 0 4px 4px;
                z-index: 10;
                opacity: 0.2;
                transition: opacity 100ms;
                text-align: right;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &.tracker_report_table_column_title .additional_column_title {
            font-weight: normal;
            font-size: 0.8em;
        }
    }

    > tbody > tr.tracker_report_table_aggregates > td {
        background: #FFFFFF !important;
        vertical-align: top !important;
        padding: 0 !important;

        > table {
            width: 100%;

            > thead > tr > th,
            > thead:first-child > tr:first-child > th {
                background: #EEEEEE;
                padding: 0 8px;
                font-weight: normal;
                height: 24px;
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: bold;
                vertical-align: middle;
                border: 0;
                border-left: 1px solid #dddddd;

                &:last-child {
                    text-align: center;
                }

                &:first-child,
                &:last-child {
                    border-left: none;
                }

                & + th:last-child {
                    text-align: right;
                }

                > .btn-group {
                    text-align: left;
                    text-transform: none;
                    margin-top: 1px;
                }
            }

            > tbody > tr > td {
                border: none;
                border-left: 1px solid #DDDDDD;
                background: #FFFFFF !important;

                &:first-child {
                    border-left: none;
                }

                > label {
                    font-size: 0.8em;
                    color: #646464;
                    margin-bottom: 0;
                    margin-right: 10px;
                    float: left;
                    cursor: default;

                    > .tracker_report_table_aggregates_value {
                        color: #222;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .non-displayable {
        font-style: italic;
        color: #AAA;
        font-size: 0.9em;
        cursor: help;
    }
}

.nature-column-popover form {
    margin: 0 0 5px;

    .alert-danger {
        display: none;
    }

    p {
        font-weight: 400;
        font-size: 12px;
    }

    input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
    }

    .nature-column-popover-actions {
        text-align: right;

        > .btn {
            margin: 0 0 0 5px;
        }
    }
}

#tracker_report_table_addcolumn_panel {
    text-align: right;
}

#tracker_report_table_addcolumn_form {
    margin: 0;
    position: relative;
    z-index: 50;
}

/* Disable bootrap width for elements controled by tracker config  */
#tracker_artifact input, #tracker_artifact select {
    width: auto;
}

#tracker_artifact_tabs {
    padding: 3px 1em;
    margin: 0;
    border-bottom: 1px solid #999;
}

#tracker_artifact_tabs li {
    list-style: none;
    margin: 0;
    display: inline;
}

#tracker_artifact_tabs li a {
    padding: 3px 0.5em;
    margin-right: 3px;
    border: 1px solid #999;
    border-bottom: none;
    background: #e0e0e0;
    text-decoration: none;
}

#tracker_artifact_tabs li a:link,
#tracker_artifact_tabs li a:visited {
    color: black;
}

#tracker_artifact_tabs li a:hover {
    color: black;
    background: #CCC;
}

#tracker_artifact_tabs li.tracker_artifact_tabs-current a {
    font-weight: bold;
    background: #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
}

.tracker_artifact_title {
    display: flex;
    font-weight: 600;
    font-size: 2em;
    color: #474747;
    margin: 0 0 10px;

    .xref-in-title {
        margin: 0 10px 0 0;
        padding: 4px 12px;
        font-size: 18px;
        line-height: 26px;
    }

    .tracker-hierarchy > li {
        margin: 0;
        line-height: 30px;
    }
    .header-spacer {
        flex: 1 1 auto;
        min-width: 20px;
    }

    .show-hide-fieldsets {
        flex: 0 0 auto;
        font-weight: 600;
        font-size: 15px;
        font-family: SourceSansPro, "Helvetica Neue", Arial, sans-serif;
        line-height: 35px;
    }
}

.tracker-artifact-actions {
    line-height: 35px;
    margin: 0 0 0 10px;
    font-weight: 400;
}

.copy-mode {
    @extend .tracker_artifact_title;
}

.xref-in-title {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.direct-link-to-artifact:hover > .xref-in-title {
    text-decoration: none;
}

.colored-xref {
    padding: 2px 7px 3px;
    border-radius: 3px;
    color: #FFFFFF;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-size: 0.9em;
    white-space: nowrap;

    &:hover {
        opacity: 0.9;
    }

    a {
        color: #FFFFFF;

        &:hover {
            text-decoration: none;
        }
    }
}

.artifact-form {
    position: relative;
}

#tracker_artifact_followup_comments {
    background: #F7F7F7;
    background: #F7F7F7;
    border-top: 1px solid #FFF;
    box-shadow: 0 -1px #D8D8D8;
    width: 960px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: -12px;
    padding: 30px 12px 80px 12px;
    margin-top: 30px;
    width: 100%;

    #tracker_artifact_followup_comments-content {
        max-width: 960px;
    }

    h1 {
        font-weight: bold;
        font-size: 2em;
        color: #474747;
        margin: 0 0 20px 0;
    }

    .tracker_artifact_followup_comments_display_settings {
        float: right;
        position: relative;
        top: 5px;
    }

    #tracker_followup_comment_new {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        margin: 0 0 5px;
    }

    &:not(.tracker_artifact_followup_comments-display_changes) {
        .tracker_artifact_followup.tracker_artifact_followup-with_changes:not(.tracker_artifact_followup-with_comment),
        .tracker_artifact_followup.tracker_artifact_followup-priority,
        .tracker_artifact_followup.tracker_artifact_followup-by_system_user,
        .tracker_artifact_followup_changes,
        .tracker_artifact_followup_content > hr {
            display: none;
        }
    }
}

.tracker_artifact_followups {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.tracker_artifact_followup {
    background: #FFFFFF;
    border-radius: 3px;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin: 20px 0;
    clear: both;
}

.tracker_artifact_followup:not(.tracker_artifact_followup-with_comment) {
    border: 1px solid #E7E7E7;
}

.tracker_artifact_followup-with_changes:not(.tracker_artifact_followup-with_comment),
.tracker_artifact_followup-priority:not(.tracker_artifact_followup-with_comment) {
    background: transparent;
}

.tracker_artifact_followup-priority {
    font-size: 0.9em;

    .rank-progression {
        font-weight: bold;
    }
}

.tracker_artifact_followup-with_comment {
    border-left: 3px solid grey;
}

.tracker_artifact_followup_avatar {
    width: 75px;
    text-align: center;
    clear: both;
    float: left;

    div.avatar {
        margin: 10px auto;
    }
}

.tracker_artifact_followup_header {
    margin-left: 75px;
    padding: 5px;
    font-size: 0.9em;

    .tracker_artifact_followup_permalink {
        color: #AFAFAF;

        &:hover {
            text-decoration: none;
            color: #444;
        }
    }
    .tracker_artifact_followup_title_user {
        margin-left: 3px;
    }
}

.tracker_artifact_followup_header span:last-child, .tracker_artifact_followup_comment_edited_by span:last-child {
    color: #AFAFAF;

    &:before {
        content: ' - ';
    }
}

.tracker_artifact_followup_comment_edited_by {
    font-size: 0.8em;
    font-style: italic;
    color: #999;
}

.tracker_artifact_followup_content {
    margin-left: 75px;
    padding: 5px;
}

.tracker_artifact_followup_content hr {
    height: 1px;
    border: none;
    background-color: #F3F3F3;
}

.tracker_artifact_followup_comment_controls {
    float: right;
    position: relative;
    top: -1px;
    font-style: normal;

    a {
        color: #222;

        &:hover {
            text-decoration: none;
            color: #444;
        }
    }
}

.tracker_artifact_followup_comment_body {
    margin-bottom: 5px;
    word-wrap: break-word;

    > ul {
        margin-bottom: 10px;
    }
}

.tracker_artifact_followup_changes {
    list-style-position: inside;
    font-size: 0.8em;
    margin: 5px auto;
    color: #838383;

    li {
        list-style-type: disc;
    }
}

.tracker_artifact_followup_changes_field {
    font-weight: bold;
}

.tracker-search legend {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f5f5f5;
    padding-left: 5px;
    background-position: 7px center;
}

.tracker_artifact_fieldset {
    background: #FFF;
    box-shadow: inset 1px 0 #E9e9e9, inset 0px -1px #E9e9e9, inset -1px 0 #E9e9e9;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0 0 1px;

    &.tracker_artifact_fieldset_hidden {
        display: none;
    }
}

.tracker_artifact_fieldset legend {
    font-size: 1.2em;
    padding: 0 14px 0 34px;
    margin-bottom: 0;
    background-position: 13px center;
    background-color: #FFF;
    border-top: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    border-left: 1px solid #E9E9E9;
    white-space: nowrap;

    &.toggler-noajax {
        background-image: url('/themes/common/images/toggle-fontawesome-minus.png');
        border-bottom: 2px solid #B2B2B2;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    &.toggler-hide-noajax {
        background-image: url('/themes/common/images/toggle-fontawesome-plus.png');
        border-bottom: none;
        border-radius: 3px;
    }

    > table {
        width: 100%;

        > tbody > tr > td {
            white-space: nowrap;

            &.tracker_artifact_fieldset_alwayscollapsed {
                color: #D1D1D1;
                font-size: 0.85em;
                text-align: right;
                padding-left: 13px;

                > i:hover {
                    color: #222;
                }

                &.active {
                    color: #464646;
                }

                &.active > i:hover:before,
                &:not(.active) > i:not(:hover):before {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
                    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
                }
            }
        }
    }
}

.tracker_artifact_fieldset_content {
    padding-top: 20px;
}

.tracker_artifact_field.has_errors,
.tracker_artifact_field.has_errors + td {
    border: 1px solid #E6CACE;
    background: #f2dede;
    border-left: none;
    border-right: none;
}

.tracker_artifact_attachment {
    display: inline-block;
    margin: 10px 20px 10px 0;
    width: 150px;
    vertical-align: top;
    font-size: 0.95em;
    text-align: center;
    position: relative;

    &.add-attachement {
        display: block;
    }

    .tracker_artifact_preview_attachment.tracker_artifact_attachment_deleted {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }
}

.tracker-artifact-attachement-title-list {
    > ul > li > .file-title {
        color: #222;
    }

    > ul > li > .file-description {
        color: #666;
    }
}

.tracker_artifact_preview_attachment_hover {
    width: 150px;
    height: 110px;
    position: absolute;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    div {
        opacity: 0;
        filter: alpha(opacity=0);
        margin: 8px 0 0 3px;

        a:hover {
            text-decoration: none;
        }

        i {
            margin: 10px;
            font-size: 1.8em;
        }
    }

    &:hover {
        box-shadow: inset 0 1px 0 #8FCEDB, inset 1px 0 0 #8FCEDB, inset -1px 0 0 #8FCEDB, inset 0 -1px 0 #8FCEDB;
        background-color: transparent;
        background-color: rgba(217, 237, 247, 0.9);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#d9edf7', EndColorStr='#d9edf7')";

        div {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
}

.tracker_artifact_preview_attachment {
    box-shadow: inset 0 1px 0 #E5E5E5, inset 1px 0 0 #E5E5E5, inset -1px 0 0 #E5E5E5, inset 0 -1px 0 #E5E5E5;
    height: 110px;
    background-color: #FCFCFC;

    &:not(.image) {
        box-shadow: inset 0 1px 0 #E5E5E5, inset 1px 0 0 #E5E5E5, inset -1px 0 0 #E5E5E5, inset 0 -1px 0 #E5E5E5;
        background: #FCFCFC url('/themes/common/images/ic/artifact_attachment_default.png') no-repeat center center;
    }

    div {
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
}

.tracker_artifact_attachment_name {
    overflow-x: hidden;

    a {
        color: #646464;

        &:hover {
            text-decoration: none;
            color: #888888;
        }
    }
}

.tracker_artifact_attachment_size {
    color: #666;
    font-size: 0.8em;
}

.tracker_artifact_attachment_description {
    font-size: 0.8em;
    color: #999;
    line-height: 1.2em;
    margin-top: 3px;
}

.tracker_artifact_attachment_submitter {
    font-size: 0.8em;
    line-height: 1.2em;
}

.tracker_artifact_remove_attachment span {
    display: none;
}

td.tracker_report_table_unlink > img {
    max-width: none;
    position: relative;
    top: -2px;
}

ul.tracker-form-element-checkbox {
    list-style-type: none;
    padding-left: 0.5em;
    margin-top: 0px;
}

.tracker_alltrackers dd {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.tracker_alltrackers dt {
    font-weight: bold;
    font-size: 1.2em;
}

.tracker_homepage_info > .link-to-tracker > .tracker_color_info {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#tracker_createnewlink img {
    vertical-align: middle;
}

.tracker-admin-field {
    border: 1px solid transparent;
    margin-bottom: 1em;
    padding: 10px;
}

.chart-cache-button-generate {
    margin: 0 0 0 20px;
    vertical-align: bottom;
}

.tracker-admin-fieldset {
    margin-bottom: 2em;
}

.tracker-admin-fieldset legend {
    font-size: 1.3em;
    font-weight: bold;
}

.tracker-admin-field:hover {
    border: 1px solid #F60;
    background: #FFC;

    > .tracker_formelement_label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

div.tracker-admin-field-controls {
    size: 0.8em;
    float: right;
}

.tracker-admin-field .tracker-admin-field-controls {
    visibility: hidden;
}

.tracker-admin-field:hover .tracker-admin-field-controls {
    visibility: visible;
}

.tracker-submit-new {
    padding-left: 1.5em;
    padding-bottom: 1em;
    background: url(../images/ic/artifact-plus.png) top left no-repeat;
}

.tracker-admin-fieldset legend .tracker-admin-field-controls {
    display: none;
    vertical-align: middle;
}

.tracker-admin-fieldset legend img {
    vertical-align: baseline;
}

.tracker-admin-fieldset legend:hover .tracker-admin-field-controls {
    display: inline;
}

.tracker-admin-field label,
.tracker_artifact_field label,
.tracker_formelement_edit {
    white-space: nowrap;
    color: #4D4D4D;
    margin-bottom: 3px;

    .highlight {
        color: #D0021B;
        font-size: 1.3em;
    }
}

.tracker-admin-staticrichtext {
    padding: 1px 5px 1px 19px;
}

.tracker_artifact_field {
    color: #626262;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;

    .textarea-value, .artifact-link-value, .artifact-link-value-reverse {
        border-left: 1px dotted #C7C7C7;
        padding: 5px 10px;
    }

    .artifact-link-value, .artifact-link-value-reverse {
        h5 {
            margin: 0 0 10px 0;
        }
    }

    .tracker_formelement_edit {
        border: 1px solid transparent;
        padding: 1px 5px 1px 19px;
        margin-left: -19px;
        margin-right: -19px;
    }

    > label:not(.checkbox) {
        border: 1px solid transparent;
        padding: 1px 5px 1px 19px;
        margin-left: -19px;
        margin-right: -19px;
        cursor: default;
    }

    &:not(.editable) {
        .tracker_formelement_edit {
            display: none;
        }
    }

    &.editable {
        .tracker_formelement_edit {
            background: url('/themes/common/images/ic/artifact_editable_field.png') no-repeat 4px center;
        }

        &:not(.field-masschange):not(.in-edition):not(.field-in-modal) > label {
            display: none;
        }
    }

    &:not(.in-edition).editable {
        .tracker_formelement_edit:hover {
            background: #D9EDF7 url('/themes/common/images/ic/artifact_editable_field_active.png') no-repeat 4px center;
            border-radius: 3px;
            border: 1px solid #8FCEDB;
        }
    }

    .tracker_hidden_edition_field {
        visibility: hidden;
        height: 0;

        > label.checkbox {
            display: none;
        }
    }

    .tracker_formelement_read_and_edit_edition_section {
        display: none;
    }

    .tracker_formelement_artifact_link_editable_on_submit {
        display: block;
    }


    &.in-edition {
        .tracker_formelement_edit {
            display: none;
        }

        > label {
            display: block;
            background-image: url('/themes/common/images/ic/artifact_editable_field_active.png');
            background-repeat: no-repeat;
            background-position: 4px center;
            cursor: default;
        }

        .tracker_hidden_edition_field {
            visibility: visible;
            height: auto;

            > input {
                width: auto;
            }
            > label.checkbox {
                display: block;
            }
        }
    }

    &.tracker_artifact_field-art_link {

        .tracker_hidden_edition_field {
            display: none;
        }

        &.in-edition .tracker_hidden_edition_field {
            display: block;
        }

        &:not(.in-edition) .tracker_report_table_unlink {
            display: none;
        }
    }

    &.has_errors {
        > label {
            background-image: url('/themes/common/images/ic/artifact_editable_field_error.png');
            background-repeat: no-repeat;
            background-position: 4px center;
            cursor: default;
        }
    }

    > .disabled_field {
        @extend .empty_value;
    }

    .display-mass-change {
        display: none;
    }
}

.empty_value {
    font-style: italic;
    color: #BBBBBB;
}

.tracker-admin-container_drop {
    background: #fafaff;
}

.tracker-admin-field label,
.tracker-admin-container label {
    /*cursor:move; (don't let somebody experience bad trip with drag 'n drop on admin part) */
}

.tracker-admin-column label .tracker-admin-field-controls {
    visibility: hidden;
}

.tracker-admin-column label:hover .tracker-admin-field-controls {
    visibility: visible;
}

.tracker-admin-form-element-help {
    font-size: 0.8em;
    color: #666;
    border: 1px solid lightblue;
    background: #f1fcff url(../images/ic/information-small-white.png) top left no-repeat;;
    margin-top: 2px;
    padding: 2px 5px;
    padding-left: 16px;
}

.tracker-admin-field .tracker-admin-form-element-help {
    position: absolute;
    z-index: 100;
}

.tracker-admin-field .tracker-admin-form-element-help {
    display: none;
}

.tracker-admin-field:hover .tracker-admin-form-element-help {
    display: block;
}

.tracker-admin-linebreak {
    border: 0px;
    border-top: 1px dashed #ddd;
    color: #ccc;
}

.tracker-admin-separator,
.tracker-field-separator {
    background-color: #DDD;
    border: none;
    height: 1px;
}

.tracker-admin-bindvalue_description {
    color: #666;
    font-size: 0.9em;
    font-style: italic;
}

.tracker_formelement_edit {
    display: block;
    margin-bottom: 3px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;

    &:hover, &:focus, &:visited {
        text-decoration: none;
        color: #4D4D4D;
    }
}

.tracker_formelement_label {
    font-weight: bold;
}

.tracker-admin-field-selected:hover,
.tracker-admin-field-selected {
    border: 1px solid #66C;
    background: #fcfcff;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    -moz-box-shadow: 2px 2px 10px #ccc;
    box-shadow: 2px 2px 10px #ccc;
}

li.tracker_report_table_add_column_used,
li.tracker_report_table_add_column_unused,
li.tracker_report_add_criteria_used,
li.tracker_report_add_criteria_unused,
li.tracker_aggregate_function_add_used,
li.tracker_aggregate_function_add_unused {
    padding-left: 20px;
    cursor: pointer;
    background-position: top left;
    background-repeat: no-repeat;
}

li.tracker_report_table_add_column_used,
li.tracker_report_add_criteria_used,
li.tracker_aggregate_function_add_used {
    background-image: url(../images/ic/tick.png);
}

li.tracker_report_table_add_column_unused,
li.tracker_report_add_criteria_unused,
li.tracker_aggregate_function_add_unused {
    background-image: url(../images/ic/bullet_grey.png);
}

li.tracker_report_table_add_column_waiting,
li.tracker_report_add_criteria_waiting,
li.tracker_aggregate_function_add_waiting {
    background-image: url(../images/ic/spinner.gif);
    background-position: center left;
}

li.tracker_report_table_add_column_unused:hover,
li.tracker_report_add_criteria_unused:hover,
li.tracker_aggregate_function_add_unused:hover {
    background-image: url(../images/ic/bullet_green.png);
}

li.tracker_report_table_add_column_used:hover,
li.tracker_report_add_criteria_used:hover,
li.tracker_aggregate_function_add_used:hover {
    background-image: url(../images/ic/tick-grey.png);
}

li.tracker_report_table_add_column_used:hover,
li.tracker_report_table_add_column_unused:hover,
li.tracker_report_add_criteria_used:hover,
li.tracker_report_add_criteria_unused:hover,
li.tracker_aggregate_function_add_used:hover,
li.tracker_aggregate_function_add_unused:hover {
    background-color: #eef;
}

#tracker_report_addcriteria_panel {
    float: right;
}

#tracker_renderer_options {
    margin-bottom: 10px;
    float: left;
}

#renderer_table_chunksz_input {
    width: 35px;
    text-align: center;
}

div.tracker_report_table_hide_masschange #tracker_report_table_masschange_form,
div.tracker_report_table_hide_masschange .tracker_report_table_masschange {
    display: none;
}

#masschange-page {
    h3 {
        margin: 0 0 10px 0;
    }

    > .masschange_artifact_ids {
        margin-bottom: 30px;
    }

    #masschange_form {
        > .masschange-notifications {
            margin-bottom: 20px;

            > input {
                margin-top: 0px;
            }
        }

        > .masschange-submit {
            margin-top: 10px;
        }
    }
}

/* bootstrap: avoid wrapping between toggler and ['details'] in workflow */
.pc_checkbox {
    display: inline;
}

.tracker-field-dependencies-checkbox{
    display: none;
}

#tracker_workflow_matrix .pc_check_unchecked,
#tracker_field_dependencies_matrix .pc_check_unchecked {
    background-image: url(../images/ic/bullet_grey.png);
}

#tracker_workflow_matrix .pc_check_checked,
#tracker_field_dependencies_matrix .pc_check_checked {
    background-image: url(../images/ic/arrow-turn-090-left.png);
}

.workflow_actions .pc_check_unchecked {
    background-image: url(/themes/common/images/ic/bin_closed.png);
}

.workflow_actions .pc_check_checked {
    background-image: url(/themes/common/images/ic/bin.png);
}

.workflow_transitions,
.workflow_rules {
    display: inline-block;
}

.workflow_existing_rules {
    list-style: none;
    padding-left: 0;
}

.workflow_rule {
    clear: both;
    margin: 5px 0px;
}

.workflow_existing_rules .pc_check_unchecked {
    background-image: url(/themes/common/images/ic/bin_closed.png);
    float: right;
}

.workflow_existing_rules .pc_check_checked {
    background-image: url(/themes/common/images/ic/bin.png);
    float: right;
}

.workflow_action.deleted,
.workflow_rule.deleted {
    text-decoration: line-through;
}

.add_new_rule {
    line-height: 2em;
}

.workflow_actions, .workflow_conditions {
    list-style-type: none;
}

.workflow_rule,
.workflow_action {
    padding: 1em 2em 1em 3em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #F6F6F6;
    background-position: 1em 1em;
    background-repeat: no-repeat;
}

.workflow_action_field {
    background-image: url(../images/ic/ui-text-field-change.png);
}

.workflow_action_ci_build {
    background-image: url(../images/ic/ci_build/server.png);
}

.workflow_conditions_perms {
    list-style-image: url(/themes/common/images/ic/lock.png);
}

.workflow_conditions_notempty {
    list-style-image: url(../images/ic/ui-text-field--exclamation-red.png);
}

.workflow_conditions_commentnotempty {
    list-style-image: url(/themes/common/images/ic/comment.png);
}

.workflow_conditions_commentnotempty_label {
    font-size: inherit;

    > .workflow_conditions_commentnotempty_checkbox {
        margin: 2px 0 0;
    }
}


/* }}} */

/* {{{ Palette */
.tracker-admin-palette {
    overflow: hidden;
}

.tracker-admin-palette,
#tracker-admin-field-properties {

}

#tracker-admin-field-properties {
    background: #fcfcff;
}

.tracker-admin-palette button img,
.tracker-admin-palette a.button img {
    vertical-align: middle;
    margin-right: 0.5em;
}

.tracker-admin-palette button,
.tracker-admin-palette a.button_disabled,
.tracker-admin-palette a.button {
    font-size: 0.85em;
    background: transparent url(../images/button-gradient.png) top left repeat-x;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #C2C2C2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #565656;
    cursor: pointer;
    padding: 4px 8px 3px 5px;
    display: block;
    width: 40%;
    margin-right: 2%;
    margin-bottom: 5px;
    display: inline-block;
    min-width: 148px;
}

.tracker-admin-palette a.button_disabled {
    cursor: default;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE < 8 */
}

.tracker-admin-palette button:focus,
.tracker-admin-palette button:hover,
.tracker-admin-palette a.button:focus,
.tracker-admin-palette a.button:hover {
    background: transparent url(../images/button-gradient-hover.png) top left repeat-x;
}

.tracker-admin-palette button:active,
.tracker-admin-palette a.button:active {
    background: transparent url(../images/button-gradient-hover.png) bottom left repeat-x;
    padding-top: 5px; /* push text down 1px */
    padding-bottom: 2px; /* push text down 1px */
}

.tracker-admin-palette-content {
    padding: 5px 5px 10px;
}

.tracker-admin-palette-content td {
    padding: 2px;
}

.tracker-admin-palette-content label {
    font-weight: bold;
}

/* }}} */

ul.plugin_tracker_my_artifacts_list {
    margin-top: 0.25em;
    list-style-type: none;
}

#tracker_admin_menu {
    border: none;
    border-spacing: 2em;
    border-collapse: inherit;
}

#tracker_admin_menu td {
    border-radius: 1em;
    border: 1px solid #999;
    padding: 0.5em 1em;
    margin-right: 1em;
    box-shadow: 1px 1px 2px #ccc;
    /* First background-image statement is for browsers that do not support gradients. */
    background: white;
    background-image: -moz-linear-gradient(top, white, #ededed);
    background-image: -webkit-gradient(linear, left top, left bottom,
            from(white),
            to(#ededed));
}

#tracker_admin_menu td:hover {
    background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
    background-image: -webkit-gradient(linear, left top, left bottom,
            from(#f2f9fe),
            to(#d6f0fd));
}

#tracker_admin_menu td img {
    margin-right: 8px;
}

#tracker_admin_menu td div {
    padding-left: 56px;
}

/* {{{ fix bootstrap width on form elements and rendering on fieldset */
.tracker-admin-group input,
.tracker-admin-group select {
    width: auto;
}

.tracker-admin-group legend label {
    display: inline;
}

/* }}} */

.tracker-hierarchy,
.tracker-hierarchy ul,
.tracker-hierarchy li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: SourceSansPro, "Helvetica Neue", Arial, sans-serif;
}

.tracker-hierarchy ul {
    clear: both;
}

.tracker-hierarchy > li {
    display: flex;
    align-items: flex-start;
    margin: 0 0 5px;

    .tree-blank,
    .tree-last {
        flex: 0 0 auto;
    }

    .tree-last {
        background-position: -48px 5px;
    }
}

.tracker-admin-hierarchy-edit-form {
    overflow: hidden;
}

#tracker-admin-current-full-hierarchy {
    margin-right: 4em;
    float: left;
}

.tracker-admin-hierarchy-edit-children {
    min-width: 250px;
    min-height: 200px;
}

.tracker-hierarchy-current,
.tracker-hierarchy-current:visited,
.tracker-hierarchy-current:hover {
    font-weight: bold;
    color: #0676B9;
}

#tracker-admin-hierarchy-disabled {
    $muted-text-color: #676767;
    text-align: center;
    margin: 25vmin 0 0;

    > .tracker-admin-hierarchy-content {
        width: 550px;
        margin: 0 auto 30px;
        font-family: SourceSansPro, "Helvetica Neue", Arial, sans-serif;
        font-size: 30px;
        line-height: 42px;
        font-weight: 300;
        color: #2F2F2F;

        &.tracker-admin-hierarchy-description {
            font-size: 18px;
            color: $muted-text-color;
            line-height: 30px;
        }
    }
}

/** Tree Node **/

.tree-view, .tree-view tr, .tree-view td, .tree-view tbody {
    height: 100%;
    vertical-align: top;
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    zoom: 1;
}

.tree-view, .tree-view tbody {
    overflow: auto;
}

.tree-view td {
    padding: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px white solid;

}

td.first-column {
    white-space: nowrap;
    height: 100%;
    border: none;
}

.tracker-cross-search-result-actions {
    margin: 0;
    padding: .5em 1em;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.node-indent {
    display: inline-block;
    vertical-align: top;
    height: 8px;
    width: 8px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    zoom: 1;
}

.node-last-left {
    overflow: visible;
    border-right: 1px gray dotted;
    /* 8px - 1px of border*/
    width: 7px;

}

.node-last-right {
    overflow: hidden;
    border-bottom: 1px gray dotted;
    /* 8px - 1px of border*/
    height: 7px;
    margin-left: -4px;

}

.node-blank {
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    width: 8px;
    height: 8px;
}

.node-pipe {
    vertical-align: top;
    display: inline-block;
    /* 8px - 1px of border*/
    width: 7px;
    height: inherit;
    border-right: 1px gray dotted;
}

.node-minus {
    vertical-align: top;
    overflow: hidden;
    border-bottom: 1px gray dotted;
    /* 8px - 1px of border*/
    height: 7px;
    margin-left: -4px;
}

.node-content {
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: auto;
    padding-left: 1px;

}

.node-child {
    vertical-align: top;
    overflow: hidden;
    display: block;
    width: 8px;
    padding: 0px;
    margin: 0px;
    margin-left: 4px;
    height: 100%;
    border-right: 1px gray dotted;
}

.node-tree {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/themes/common/images/ic/toggle-small-expand.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.node-minus-tree {
    overflow: hidden;
    border-bottom: 1px gray dotted;
    width: 4px;
    margin-right: 1px;
    margin-left: 1px;
}

.tracker_date_reminder {
    font-style: italic;
    color: #ffffff;
    background-color: #808080;
}

.date_reminder_confirm_delete_buttons {
    text-align: center;
}

.date_reminder_confirm_delete {
    border: medium solid red;
    background: #FFC;
    padding: 4px 10px;

}

.tracker_artifact_attachment_delete {
    background: #777777 url(/themes/common/images/ic/cross_white.png) center center no-repeat;
    position: absolute;
    top: -13px;
    right: -12px;
    border-radius: 50%;
    width: 25px;
    border: 2px solid #FFF;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1;

    &.pc_check_unchecked {
        background: #777777 url(/themes/common/images/ic/cross_white.png) center center no-repeat;

        &:hover {
            background-color: #999999;
        }
    }

    &.pc_check_checked {
        background: #F33C3C url(/themes/common/images/ic/cross_white.png) center center no-repeat;

        &:hover {
            background-color: #FD6060;
        }
    }
}

.tracker_artifact_attachment_deleted {
    text-decoration: line-through;
}

.help {
    color: #999;
    margin-top: 0;
}

/* {{{ */
.tracker_confirm_delete {
    width: 50%;
    margin: auto;
    border: medium solid red;
    background: #FFC;
    padding: 4px 10px;
}

.tracker_confirm_delete_buttons {
    text-align: center;
}

.tracker_confirm_delete_preview {
    border: medium inset lightgray;
    background: #eee;
    padding: 0.5em 1em;
    margin: 1em auto;
}

/* }}} */

.tracker_create_mode {
    padding-left: 1em;
}

.workflow_rule_date_comparator {
    margin: auto 0.5em;
}

.artifact-children-table {
    width: auto;
    min-width: 50%;
}

.artifact-children-table-head {
    background: #ffffff;
}

.artifact-children-table-title {
    width: 100%;
}

.artifact-children-table-xref,
.artifact-children-table-status {
    white-space: nowrap;
}

.trigger_triggering_field_remove {
    cursor: pointer;
}

.trigger_condition_selector {
    white-space: nowrap;
    text-align: right;
}

.trigger_triggering_field {
    vertical-align: top;
}

#triggers_existing > table > tbody > tr:nth-child(odd) {
    background: #fcfcfc;
}

#triggers_existing > table > tbody > tr {
    vertical-align: top;
}

.trigger_description_triggering_field {
    vertical-align: top;
}

.trigger_description_triggering_field_intro {
    text-align: right;
    padding-right: 0.25em;
}

.trigger_remove {
    cursor: pointer;
}

.trigger_triggering_field select {
    vertical-align: top;
}

/** {{{ Notification popup */

.artifact-event-popup {
    display: none;
    margin-bottom: 20px;
}

.artifact-event-popup hr {
    border: 0;
    height: 1px;
    background: #444;
}

.artifact-event-popup-title {
    position: relative;
    z-index: 10000;
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    background: #333;
    border-bottom: 1px solid #444;
    padding: 8px 10px 8px 10px;
    margin: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5), inset 0 2px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.5), inset 0 2px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.5), inset 0 2px rgba(255, 255, 255, 0.2), 0 0 20px rgba(0, 0, 0, 0.5);
}

.artifact-event-popup-content {
    position: relative;
    z-index: 10001;
    color: #eee;
    background: #000;
    padding: 10px;
    margin: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.artifact-event-popup-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.artifact-event-popup-content .tracker_artifact_followup_changes_field {
    display: block;
    font-weight: normal;
    padding-bottom: 4px;
}

.artifact-event-popup-content .tracker_artifact_followup_changes_changes {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.artifact-event-popup-actions {
    position: relative;
    z-index: 10000;
    color: #eee;
    text-align: center;
    background: #333;
    border-top: 1px solid #444;
    padding: 7px 10px 7px 10px;
    margin: 0;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.artifact-event-popup-actions .btn {
    width: 120px;
}

/** Notification popup }}} */

#artifact-submit-keeper-message {
    display: none;
    width: 30em;
    margin: auto;
    /* LESS/Bootstrap: .well; */
    min-height: 20px;
    padding: 19px;
    margin-bottom: 1em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#artifact-submit-keeper-message .help_title {
    font-size: larger;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.artifact-submit-button {
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    background: #FFF;
    border-top: 1px solid #E0E0E0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    z-index: 999;

    .dropdown-menu li {
        .btn-link {
            width: 100%;
            text-decoration: none;
            text-align: left;
            color: #222;
        }

        &:hover {
            background-color: #0081c2;

            .btn-link {
                text-decoration: none;
                text-shadow: none;
                color: #FFF;
            }
        }
    }
}

.hidden-artifact-submit-button {
    @extend .artifact-submit-button;
    display: none;
}

.artifact-copy-button {
    @extend .artifact-submit-button;
}

body.sidebar-collapsed .artifact-submit-button, body.sidebar-collapsed .hidden-artifact-submit-button {
    padding-left: 45px;
}

body.sidebar-expanded .artifact-submit-button, body.sidebar-expanded .hidden-artifact-submit-button, body.sidebar-expanded .artifact-copy-button {
    padding-left: 200px;
}

#artifacts_query td {
    padding: 0 10px 0 0;
}

#artifacts_query td span {
    display: block;
}

#date_field_reminder_form input, #date_field_reminder_form select {
    width: auto;
}

#edit_rule_form label {
    margin: 0 0 0 5px;
}

#edit_rule_form input[type="checkbox"] {
    margin: 0;
}

#save_panel td {
    padding: 10px 0 0 0;
}

#tracker-import-data th {
    text-align: right;
    padding: 0 10px 0 0;
}

#tracker-import-data th, #tracker-import-data td {
    padding: 10px 5px;
}

#tracker-import-data input[type="checkbox"] {
    margin: 0;
}

.tracker_artifact_followup_content textarea {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tracker-admin-bindvalue_list {
    list-style: none;
    margin-left: 0px;
    border: 1px solid #d5d5d5;
}

.tracker-admin-bindvalue_list > li {
    border-bottom: 1px solid #d5d5d5;
    padding: 4px;
    padding-right: 8px;
}

.tracker-admin-bindvalue_list > li:last-child {
    border-bottom: none;
}

.tracker-admin-bindvalue_actions {
    padding-left: 8px;
    float: right;
}

.tracker-admin-bindvalue_grip {
    margin-right: 2px;
    cursor: move;
}

.tracker-admin-bindvalue_decorator {
    margin-right: 6px;
}

.tracker-admin-bindvalue_description {
    margin-left: 40px;
}

.tracker-admin-bindvalue_description_field {
    display: block;
    margin-left: 40px;
}

.tracker_artifact_field > input[type=text],
.tracker_artifact_field > textarea {
    width: auto;
}

.tuleap-modal {
    form {
        margin-bottom: 0;
    }
    #artifact-form-errors {
        display: none;
        font-size: 0.9em;

        h5 {
            margin: 10px 0 5px 0;
        }
    }

    .tuleap-modal-content {
        padding: 15px;
    }
    .tuleap-modal-side-panel-content-content {
        padding: 10px 10px 20px 10px;



        .alert-info {
            font-size: 0.8em;
            margin: 5px;
            padding: 0px 5px;

            a {
                font-weight: bold;
                color: #3a87ad;
            }
        }
    }
    .tuleap-modal-actions textarea {
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    table {
        width: 100%;

        td {
            padding: 0;

            legend {
                margin-bottom: 10px;
            }

            img {
                max-width: 390px;
            }

            .tracker_artifact_field {
                margin-bottom: 10px;
                font-size: 0.9em;

                label {
                    display: block;
                    margin-bottom: 0;
                    font-size: 0.95em;
                    color: #444;
                }

                .tracker_formelement_edit {
                    display: none;
                }

                .textboxlist {
                    max-width: 380px;

                    .holder {
                        width: 100%;

                        .maininput {
                            margin: 0;
                            height: 20px;
                        }
                    }
                }

                .textboxlist-auto {
                    max-width: 380px;
                }

                input[type=text]:not(.field-computed) {
                    margin: 5px 0 0 0;
                    width: 100%;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    height: 30px;
                }

                input[type=text].field-computed {
                    box-sizing: border-box;
                    height: 30px;
                }

                .add-on {
                    margin: 5px 0 0 -1px;
                }

                textarea {
                    margin: 5px 0 0 0;
                    width: 100%;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }
        }
    }

    .artifact-modal-artifact-link {
        padding: 0 5px 0 0;
        list-style-type: none;
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    ul.tracker_artifact_links {
        margin: 0 0 0 5px;
    }

    ul.tracker_artifact_followups {
        margin: 0;

        > li {
            margin: 0 0 10px 0;
            padding: 20px 10px 10px;
            border-top: 1px solid #E9E9E9;

            &:first-child {
                border-top: none;
                padding: 10px;
            }

            &:last-child {
                margin: 0;
            }

            .tracker_artifact_followup_header {
                padding: 0;
                margin: 0 0 5px 0;
                border-radius: 0;

                .tracker_artifact_followup_avatar {
                    width: 30px;
                    height: 30px;
                    margin: 0 5px 0 0;

                    .avatar {
                        margin: 0;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: none;
                    }
                }

                .tracker_artifact_followup_title_user, .tracker_artifact_followup_date {
                    display: block;
                    margin: 0;
                    font-size: 0.8em;
                    font-weight: normal;
                    line-height: 1.4em;
                    text-align: left;
                }
                .tracker_artifact_followup_date {
                    font-style: italic;
                    color: #999;
                }
            }

            .tracker_artifact_followup_content {
                margin: 0;
                padding: 0;
                font-size: 0.8em;
                line-height: 1.65em;

                .tracker_artifact_followup_comment {
                    margin-top: 10px;
                    clear: left;
                }
                hr {
                    display: none;
                }
                .tracker_artifact_followup_changes {
                    font-size: 0.9em;
                    margin: 0;
                    opacity: 0.8;

                    li {
                        list-style-type: none;
                    }
                }
            }
        }
    }

    ul > li.empty-state {
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 0.8em;
        color: #999;
    }
}

#tracker_report_renderers {
    position: relative;
    z-index: 1;

    & > li:first-child {
        margin-left: 4px;
    }

    & > li {

        & > a > b.caret {
            margin-left: 16px;
        }

        & > .dropdown-menu {
            padding: 20px 20px 0 20px;

            & > form > .tracker-renderer-details {
                margin-left: 20px;
            }
        }
    }
}

.additional > td {
    background: #FFFFCC !important;
}

body.in_tracker_report .main .content {
    padding-left: 0;
    padding-right: 0;

    .feedback_error {
        margin: 12px;
    }
}

#tracker_report_renderer_view_controls {
    float: right;
}

@import "../../../../../../src/www/themes/common/css/utils/colors";

#tracker-settings {

    > label {
        font-weight: bold;
        margin-top: 20px;
    }

    > textarea {
        margin: 0;
    }

    > .tracker_settings_colors {
        margin-bottom: 10px;

        & > .tracker_color_selector {
            margin: 0;
        }

        & > .fa-stack {
            cursor: pointer;

            & > .fa-check {
                color: #FFFFFF;
                visibility: hidden;

                &.selected {
                    visibility: visible;
                }
            }
        }

        & > .tracker_color_preview {
            display: inline;
            margin: auto 10px;
            white-space: nowrap;

            & > .tracker_color_preview_label {
                font-size: 0.8em;
                position: relative;
                top: -1px;
            }

            & > .xref-in-title {
                margin-left: 3px;
                font-size: 1.2em;
                top: 1px;
            }
        }
    }

    > .submit-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.95);
        border-top: 1px solid #E0E0E0;
        box-sizing: border-box;
    }
}

body.sidebar-expanded #tracker-settings > .submit-bar {
    padding-left: 200px;
}

@each $color-name, $colors in $tlp-swatch-color-map {
    .#{$color-name} {
        &.fa-circle.tracker_color_info,
        &.tracker_color_selector_container {
            color: map-get($colors, 'primary');
        }

        &.xref-in-title, &.colored-xref {
            background-color: map-get($colors, 'primary');
        }
    }
}

.tracker_artifact_add_attachment > p > input[type=file] {
    width: 206px;
}

.tracker_artifact {
    max-width: 960px;
}

.tracker_report_renderer_description {
    color: #444;
    font-size: 0.9em;
    margin-bottom: 15px;

    > span {
        color: #646464;
        font-size: 0.9em;
    }
}

.csv-preview-import-button {
    margin-bottom: 10px;
}

.report_warning {
    float: left;
    margin-left: 20px;
}

#siteadmin-config {
    > .alert > h4 {
        margin: 10px 0;
    }

    > .help {
        margin: 0 0 20px 20px;
    }

    > #submit-panel > button[type=submit] {
        margin: 20px 0 10px;
    }

    > .allowed-projects-for-nature-title {
        margin-top: 40px;
    }

    table {
        max-width: 960px;

        td {
            width: 30%;
            white-space: nowrap;

            &.actions {
                width: auto;

                > a, > span {
                    margin: 0 10px 0 0;

                    &.muted {
                        cursor: not-allowed;
                    }
                }

                > form {
                    display: inline;
                    margin: 0;

                    > button {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    .modal, .tooltip-inner {
        white-space: normal;
    }
}

.submit-new-by-mail-copy-fallback {
    text-overflow: ellipsis;
    overflow: hidden;
}

#submit-new-by-mail-popover-container > .popover {
    max-width: 288px;

    p {
        font-size: 12px;
    }

    #tracker-email-copy-to-clipboard {
        margin: 0;
    }

    .text-info {
        font-size: 0.8em;
        margin: 0;
        visibility: hidden;

        &.copied {
            visibility: visible;
        }
    }
}

.email-tracker-help {
    color: #999999;
    font-size: 12px;
}

.format-warning {
    position: relative;
    font-size: 10px;
    vertical-align: super;
    left: -1px;
    top: -2px;
    color: #999;
}

select[name='add_notempty_condition[]'] {
    vertical-align: top;
}


.tracker-deprecated-fields {
    max-width: 960px;
}

.valueOf_remaining_effort > .autocomputed_override {
    display: flex;
    justify-content: space-between;

    > .original-value {
        display: block;
        color: #AAAAAA;
    }

    > a > i {
        margin: 0 3px 0 0;
    }
}

.tracker_artifact_field-computed, .tracker_artifact_field-float, .tracker_artifact_field-int {
    .artifact-timeframe-helper {
        margin: 0 0 0 3px;
        color: #AAAAAA;
        font-size: 11px;
    }
}

.tracker_artifact_field-computed {
    .auto-computed {
        margin: 0 0 0 3px;
        color: #AAAAAA;
        font-size: 11px;
    }

    .auto-computed-for-modal, .auto-computed-for-submit {
        display: block;
    }

    .tracker-formelement-edit-for-modal, .tracker-formelement-edit-for-submit {
        font-size: 0.95em;
    }

    .original-value {
        display: block;
        margin: 3px 0 0 0;
        font-size: 12px;
        color: #4DB3D0;
    }

    > .back-to-autocompute {
        display: none;
    }

    > .deprecated-close {
        margin: 15px;
    }

    > #warning-deprecated-field {
        margin: 0 12px
    }

    > .auto-compute {
        .fa-flip-horizontal {
            margin: 0 5px 0 0;
        }
    }

    > .add-field {
        display: none;
    }
}

.tracker_artifact_field-burndown {
    min-width: 640px;
}

.tracker_hidden_edition_field {
    display: none;

    .input-append {
        margin: 0;
    }

    .original-value {
        display: block;
        margin: 3px 0 0 0;
        font-size: 12px;
        color: #4DB3D0;
    }
}

.tracker-artifact-rollup-view {
    white-space: nowrap;
}

.tracker-artifact-rollup-view-icon {
    padding: 0 15px 0 0;
    font-size: 14px;
    cursor: pointer;

    &.fa-caret-right {
        padding: 0 8px 0 3px;
    }

    &.fa-caret-down {
        padding: 0 6px 0 2px;
    }
}

#tracker-semantic-removal-action {
    margin: 0;
}

.tracker-admin-notification-table {
    max-width: 1200px;
    margin-bottom: 15px;
}

.table-bordered > tbody > tr > td.tracker-notification-mail-list-add-in-empty-table {
    border-left: none;
}

input.tracker-global-notification-email, input.tracker-unsubscriber {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

td.tracker-global-notifications-checkbox-cell {
    text-align: center;
}

.plugin-tracker-global-notifs-permissions,
.plugin-tracker-global-notifs-updates {
    white-space: nowrap;
}

.plugin-tracker-global-notifs-people {
    width: 100%;
}

.tracker-notification-email-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tracker-notification-email-list-entry {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:last-child > .tracker-notification-email-list-separator {
        display: none;
    }
}

.tracker-notification-email-list-separator {
    margin: 0 3px 0 0;
}

.tracker-notification-email-user {
    display: flex;
}

.avatar.tracker-notification-user-avatar {
    display: inline-block;
    top: 7px;
    left: 8px;
    width: 22px;
    height: 22px;
    margin: 0 3px 0 0;
}

.tracker-notification-email-list-group-icon {
    margin: 0 3px 0 0;
    color: #666666;
}

.tracker-notification-edit {
    white-space: nowrap;
}

.tracker-global-notifications-add-hidden,
.tracker-global-notifications-row-add-hidden,
.tracker-global-notifications-checkbox-cell-hidden,
.tracker-unsubcriber-add-hidden,
.tracker-unsubscriber-row-add-hidden {
    display: none;
}

#tracker-unsubscriber-select {
    width: 100%;
}

.tracker-admin-notification-table td {
    vertical-align: middle;
}

.tracker-notification-edit {
    margin: 0 10px 0 0;
}

.tracker-notification-delete-popover {
    display: none;
}

.tracker-global-notifications > .popover {
    .popover-title {
        border: 0;
        background: #da5353;
        color: #ffffff;
    }

    .tracker-notification-delete-popover-actions {
        text-align: right;
    }

    p {
        font-size: 13px;
    }
}

td.tracker-unsubscriber-actions {
    text-align: right;
}

.card-field-users {
    display: flex;
    align-items: center;
    margin: 0 0 5px;

    .avatar {
        margin: 0 5px 0 0;
        flex: 0 0 auto;
    }

    .realname {
        text-align: left;
    }
}

#tracker-semantic-disabled {
    $muted-text-color: #676767;
    text-align: center;
    margin: 25vmin 0 0;

    > .tracker-semantic-content {
        width: 550px;
        margin: 0 auto 30px;
        font-family: SourceSansPro, "Helvetica Neue", Arial, sans-serif;
        font-size: 30px;
        line-height: 42px;
        font-weight: 300;
        color: #2F2F2F;

        &.tracker-semantic-description {
            font-size: 18px;
            color: $muted-text-color;
            line-height: 30px;
        }
    }
}

.tracker-semantic-admin-go-back {
    display: block;
}

.tracker-semantic-selected-value {
    font-weight: bold;
}

.tracker-semantic-submit {
    display: block;
    margin: 0 0 20px;
}

.tracker-colorpicker {
    display: inline-block;
}

.tracker-colorpicker > .colorpicker-input {
    display: none;
}

.tracker-mail-notification-title {
    margin: 20px 0 0;
}

.notifications-level-force-usage {
    margin: 20px 0;
}

#tracker-webhooks {
    > .popover {
        h3 {
            border: 0;
            background: #da5353;
            color: #ffffff;
        }

        form {
            margin: 0;

            .remove-tracker-webhooks-confirm-actions {
                text-align: right;
            }
        }

        p {
            font-size: 13px;
        }
    }
}

.tracker-webhooks-desc {
    margin: 10px 0 20px;

    > .tracker-webhooks-desc-warn {
        display: block;
    }
}

.tracker-webhooks-list {
    max-width: 960px;

    > thead > tr > th,
    > tbody > tr > td {
        vertical-align: middle;
        white-space: nowrap;

        &:first-child {
            width: 100%;
            max-width: 430px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.last-push {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &.action-buttons {
            > a {
                margin: 0 5px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    opacity: .8;
                }
            }
        }
    }
}

.modal-tracker-webhooks {
    > .modal-header {
        border-bottom: 2px solid #888888;

        > .close {
            margin-left: 10px;
        }

        > h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .modal-body {

        > p:first-child {
            margin-bottom: 30px;
        }

        input[type=url] {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
        }

        > .tracker-webhooks-all-logs {
            > tbody {
                font-size: 12px;

                > tr:first-child > td {
                    white-space: nowrap;
                }

                > tr > td:last-child {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 383px;
                    width: 100%;
                }
            }
        }
    }
}

.remove-tracker-webhooks-popover {
    display: none;
}

.create-tracker-webhook-btn {
    margin: 0 0 10px;
}

#tracker-action-button-section {
    .tracker-action-button {
        text-align: left;
        background-color: #ffffff;
        border-color: #ffffff;
        box-shadow: none;
    }

    .tracker-action-button:last-child {
        margin: 5px 0;
    }
}

#tracker-action-icon {
    margin: 10px 0 0 5px;
}

.tracker-richtexteditor-help {
    display: none;

    &.shown {
        display: block;
    }
}

.tracker-field-dependency-highlight {
    animation: 1s linear 0s field-dependencies-highlight-anim;
}

@keyframes field-dependencies-highlight-anim {
    0% {
        background: #ffff99;
    }

    100% {
        background: #ffffff;
    }
}

.tracker-administration-semantic-timeframe {
    max-width: 800px;
}
